/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/



/* 1. Main Layout ================================= */

@font-face { font-family: Leafy; src: url('../img/leafy.otf'); }
@font-face { font-family: AvantGar-book; src: url('../img/AvantGarGotItcTOT-Boo.otf'); } 

* {
	box-sizing: border-box;
}

body {
	background-color: #f8fcff;
	background-image: url("../img/background-pattern.png");
	background-attachment: fixed;
	height: 3000px;
}


.content {
	padding: 30px;
	font-family: sans-serif;
	margin: 30px auto;
	border-radius: 10px;
}

$break-small: 420px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


/* 2. Content ================================= */

header{
	width: 860px;
	margin: 30px auto;
	padding: 30px;
	@include respond-to(handhelds) { width: 100% ;}
	
}

.logo {


	h1{
		margin: 0 auto;
		background: url(../img/logo1.svg) no-repeat;
		width: 85px;
		height: 20px;


		a{
			color: transparent;
			text-align: center;
		}

	}
}

.title{
	height: 67px;
	width: 590px;
	margin: 30px auto;
	@include respond-to(handhelds) { width: 100% ;}

}

nav {
	text-align: center;
	margin-top: 50px;
	ul{
		li{
			display: inline-block;
			text-transform: uppercase;

			.home a{
				margin-left: 0;
			}
			
			a{
				text-decoration: none;
				color: #4a5666;
				font-family: Leafy;
				font-size: 32px;
				margin-left: 30px;
			}
		}
	}
}

svg#Layer_1 {
	width: 300px;
	height: 100%;

}

svg#Layer_2 {
	width: 389px;
	height: 100%;
	display: inline-block;
	float: right;

}

svg#Layer_4 {
	width: 250px;
	height: 100%;

}

svg#Layer_3 {
	width: 250px;
	height: 100%;

}
.path {
  		stroke-dasharray: 1000;
  		stroke-dashoffset: 1000;
  		animation: dash 5s linear forwards;
  		animation-iteration-count: infinite;
  		animation-delay: 2s;

	}

@keyframes dash {
		to {
			stroke-dashoffset: 0;
			

		}
	}


.st0 {
	stroke-dasharray: 1000;
  		stroke-dashoffset: 1000;
  		animation: dasher 3s linear forwards;
  		animation-iteration-count: infinite;
  		animation-delay: 3s;

}

@keyframes dasher {
		to {
			stroke-dashoffset: 0;
			

		}
	}

.step4shirt {
	stroke-dasharray: 3000;
  		stroke-dashoffset: 3000;
  		animation: dashy 3s linear forwards;
  		animation-iteration-count: infinite;

}

@keyframes dashy {
		to {
			stroke-dashoffset: 0;
			

		}
}


.custom{
	background-image: url("../img/custom-background.png");
	width: 860px;
	height: 520px;
	position: relative;
	@include respond-to(handhelds) { width: 100% ;}

		h2{
			color: #4a5666;
			font-size: 55px;
			text-transform: uppercase;
			font-family: Leafy;
			position: absolute;
			top: 70px;
			left: 150px;
			@include respond-to(handhelds) { width: 100% ;}
		}

		.work {
			img{
				position: absolute;
				top: 129px;
				left: 125px;
				@include respond-to(handhelds) { width: 100% ;}

			}
		}

		.art {
			img{
				position: absolute;
				top: 215px;
				left: 118px;
				@include respond-to(handhelds) { width: 100% ;}
			}
		}

		.get-started {
			background-image: url("../img/get-started.png");
			width: 204px;
			height: 57px;
			position: relative;
			top: 375px;
			left: 100px;
			@include respond-to(handhelds) { width: 100% ;}

			h3{
				font-family: AvantGar-book;
				position: absolute;
				top: 22px;
				left: 24px;
				font-weight: 100;
				font-size: 2em;
				@include respond-to(handhelds) { width: 100% ;}
			}
		}
}

.crafting{
	background-image: url("../img/product-info-background.png");
	width: 860px;
	height: 520px;
	position: relative;

		h1 {
			color: #4a5666;
			text-transform: uppercase;
			font-family: Leafy;
			font-size: 37px;
			position: absolute;
			left: 452px;
			top: 50px;
		}

		.perfect img{
			position: absolute;
			left: 520px;
			top: 64px;

		}

		h2 {
			color: #ea403c;
			text-transform: uppercase;
			font-family: Leafy;
			font-size: 27px;
			padding-bottom: 5px;

		}

		p {
			color: #4a5666;
			font-family: AvantGar-book;
			font-size: 17px;
			

		}

		.t-shirt img {
			position: absolute;
			top: 29%;
			left: 300px;
		}

		.freak {
			position: absolute;
			left: 100px;
			top: 30%;
			text-align: right;

		}

		.artwork {
			position: absolute;
			left: 600px;
			top: 57%;
		}

		.screenprinted{
			text-align: right;
			position: absolute;
			left: 100px;
			top: 67%;

		}
}






.mission{
	background-image: url("../img/mission-background.png");
	width: 860px;
	height: 1442px;
	position: relative;

	.our-mission{
		text-align: center;
		height: 150px;
		position: relative;
		top: 30px;

	}

	h1 {
		color: #ede2b1;
		text-transform: uppercase;
		font-family: Leafy;
		font-size: 45px;
		padding-bottom: 15px;

	}

	p {
		color: #ffffff;
		font-size: 20px;
		font-family: AvantGar-book;
		line-height: 26px;

	}

	

	.step-1 {
		height: 200px;

		.word {
			padding-top: 15px;
			display: inline-block;
			padding-left: 75px;

		}

		img{
			padding-right: 129px;
			float: right;
		}
	}

	.step-2 {

		height: 300px;

		img {
			padding-left: 129px;

		}

		.words{
			padding-top: 70px;
			display: inline-block;
			text-align: right;
			float: right;
			padding-right: 75px;

		}
	}

	.step-3 {
		height: 250px;

		img{
			padding-right: 129px;
			float: right;
		}

		.worddd{
			display: inline-block;
			padding-left: 75px;

			
		}
	}

	.step-4 {
		height: 250px;

		img{
			padding-left: 120px;

		}

		.wordddd{
			display: inline-block;
			float: right;
			text-align: right;
			padding-right: 75px;
		}
	}

	.step-5 {

		img{
			float: right;
			padding-right: 75px;
		}

		.worddddd{
			display: inline-block;
			padding-left: 75px;

		}
	}
	
	
}




.meet-katie {
	background-image: url("../img/meet-katie-bg.png");
	width: 860px;
	height: 834px;
	position: relative;

		.katie {
			position: absolute;
			left: -7px;
			top: -4px;
		}

		.meet-title {
			top: 10%;
			left: 10%;
			position: absolute;
			z-index: 5;

		}

		.katie-p {
			padding-top: 20%;
			padding-right: 40%;
		}

		 .katie-title p {
			display: block;
			z-index: 1;
			position: relative;
			text-align: center;
			color: #4a5666;
			font-family: AvantGar-book;
			font-size: 25px;
		}

		.we-met img {
			position: absolute;
			top: 61%;
			left: 11%;

		}

		.we-met h1 {
				position: absolute;
				top: 55%;
				left: 23%;
				color: #f78551;
				font-family: Leafy;
				font-size: 96px;
				z-index: 1;
		}

		.we-met p {
			position: absolute;
		    width: 27%;
		    font-family: AvantGar-book;
		    color: #4a5666;
		    top: 65%;
		    left: 63%;
		    line-height: 25px;
		    font-size: 18px;

		}

}

footer {
		font-family: AvantGar-book;
		color: #ffffff;


	img {
		width: 100%;
		height: 326px;
		margin: 30px auto;
		margin-bottom: 0;
	
	}

	h4 {
		position: relative;
    	top: 99%;
    	font-size: 20px;
    	left: 10%;
    }

    h5 {
		position: relative;
    	top: 93%;
    	font-size: 20px;
    	left: 78%;
    }

}



